body {
  background-color: #1e212d;
  width: 100%;
  height: 30%;
  padding: none;
  margin-left: 0%;
  margin-top: 0%;
}

hr {
  style: solid blue;
  width: 100%;
  height: 80%;

}

h2 {
  background-color: #b088f9;
  line-height: 2.5;
  border-radius: 20px;
  color: black;
}

.button {
  background-color: #C4CACE;
  margin: 1%;
}

#blank {
  text-align: center;
  margin: auto;
  width: 96%;
  margin-bottom: 1.5%;
}

#heading {
  background-color: #1e212d;
  height: 5%;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-top: 0%;
  width: 97%;
  color: white;
  text-emphasis: bold;
  border-bottom: solid white 3px;
  font-size: 150%;
  position: fixed;
}

#heading p{
  margin: 1% 0px;
}

#center {
  background-color: #b088f9;
  color: black;
  text-align: center;
  padding: 2%;
  padding-bottom: 1%;
}

#bigWords {
  font-size: 500%;
  color: black;
}

#double {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: white;
  text-align: center;
}

#result {
  background-color: #1e212d;
  text-align: center;
  font-size: 100%;
  color: white;
}

.problemClass {
  font-weight: bold;
  color: white;
}

.challengeClass {
  color: red;
  font-size: 150%;
}

.designClass {
  font-family: cursive;
  text-emphasis-style: circle;

}

.smallColumn {
  display: table-cell;
  padding-top: 0%;
  float: right;
}

.column {
  display: table-cell;
  padding: 2%;
  width: 80%;
  background-color: #1e212d;
  color: #d3e0ea;
}

#sided {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
}

#output {
  color: white;
  column-count: 5;
}

#inputs {
  color: white;
  width: 20%;
  margin-left: 40%;
  padding-bottom: 2%;
}
