#main_title {
  font-size: 35px;
  font-weight: bold;

  color: red;
}

#self_paragraph {
  font-size: 20px;
  color: #00FF00;
}

#background {
  background-color: black;
  width: 1000px;
  min-height: 600px;
  padding: 10px;
  border: solid 3px blue;
}
